@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 3rem;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    .header, .footer {
        padding: 1rem;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}
html{
    font-size: 100%;;
}
body{
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    margin: 0;
    padding: 0;
}   
.wrapper {
    width: 80%;
    margin: 0 auto;
}       
.page-header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
.page-header h1 {
    margin: 0;
    font-size: 2rem;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap:1rem;
    font-size: 1.5rem;
    list-style: none ;
    margin: 0;
    padding: 0;
}
.font-english {
    font-family: Arial, sans-serif;
    font-weight: normal;
}


.main-nav a{
    color: aquamarine;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.main-nav a:hover{
    color: aquamarine;
}